<h3>Menu</h3>
    <div class="well">
       <% if(session.loggedIn) { %>
        <h4><a href="/voting-app/"><button class="btn btn-primary btn-block"><i class="fa fa-home"></i> Home</button></a></h4>
        <h4><a href="/voting-app/new"><button class="btn btn-success btn-block"><i class="fa fa-plus"></i> New poll</button></a></h4>
        <h4><a href="/voting-app/mine"><button class="btn btn-info btn-block"><i class="fa fa-bar-chart"></i> My polls</button></a></h4>
        <h4><a href="/voting-app/logout"><button class="btn btn-warning btn-block"><i class="fa fa-sign-out"></i> Logout</button></a></h4>
        <% } else { %>
        <% if(req.query.signupError){ %>
        <div class="alert alert-danger">Invalid user data. Failed to signup</div>
        <% } %>
        <% if(req.query.signupSuccess){ %>
        <div class="alert alert-success">Successfully signed up. Try logging in!</div>
        <% } %>
        <% if(req.query.loginError){ %>
        <div class="alert alert-danger">Invalid user data. Failed to login</div>
        <% } %>
        <% if(req.query.loginSuccess){ %>
        <div class="alert alert-success">Successfully logged in!</div>
        <% } %>

        <div id="signup-form">
          Sign up for an account here!
          <form class="form-group" action="/voting-app/signup"%>" method="POST">
            <input class="form-control" type="text" id="username" name="username" placeholder="username" required/>
            <input class="form-control" type="email" id="email" name="email" placeholder="example@asd.com" required/>
            <input class="form-control" type="password" id="password" name="password" placeholder="password" required/>
            <button class="btn btn-success form-control" type="submit">Sign up!</button>
          </form>
          Already have an account? Then what are you waiting for? <a href="#" onclick="toggleForm()">Login</a> now!
        </div>
        
        <div id="login-form" style="display:none">
          <form id="login-form" class="form-group" action="/voting-app/login"%>" method="POST">
            <input class="form-control" type="text" id="username" name="username" placeholder="username" required/>
            <input class="form-control" type="password" id="password" name="password" placeholder="password" required/>
            <button class="btn btn-success form-control" type="submit">Login</button>
          </form>
          Don't have an account? <a href="#" onclick="toggleForm()">Signup</a> now! It's free!
        </div>
        <% } %>
        <script>
          function toggleForm(){
            document.querySelector("#login-form").style.display = document.querySelector("#login-form").style.display == "none" ? "block" : "none"; 
            document.querySelector("#signup-form").style.display = document.querySelector("#signup-form").style.display == "none" ? "block" : "none"; 
          }
        </script>
    </div>