
<div class="social-buttons col-xs-12" style="
            text-align: right;">
    by jackyef
    <a href="https://github.com/jackyef/" target="_blank" style="
            text-decoration: none;
            color: white !important;"><br/>
      <button class="btn btn-xs" style="background-color: rgb(36,41,46);">
                        <span class="fa fa-github " style="min-width: 1em;"></span>
                    </button></a>
    <a href="http://codepen.io/jackyef/pens/public/" target="_blank" style="
            text-decoration: none;
            color: white !important;">
      <button class="btn btn-xs" style="background-color: #111; text-decoration: none;
            color: white !important;">
                        <span class="fa fa-codepen " style="min-width: 1em"></span>
                    </button></a>
    <a href="https://www.freecodecamp.com/jackyef" target="_blank" style="
            text-decoration: none;
            color: white !important;">
      <button class="btn btn-xs" style="background-color: rgb(0,100,0);">
                        <span class="fa fa-free-code-camp " style="min-width: 1em"></span>
                    </button></a>
    <a href="https://facebook.com/zhouyongchao" target="_blank" style="
            text-decoration: none;
            color: white !important;">
      <button class="btn btn-xs" style="background-color: #3b5998;">
                        <span class="fa fa-facebook " style="min-width: 1em"></span>
                    </button></a>
    <a href="https://instagram.com/jackyef_" target="_blank" style="
            text-decoration: none;
            color: white !important;">
      <button class="btn btn-xs" style="background-color: #3F729B">
                        <span class="fa fa-instagram " style="min-width: 1em"></span>
                    </button></a>
    <a href="https://www.linkedin.com/in/jacky-efendi-094643a1/" target="_blank" style="
            text-decoration: none;
            color: white !important;">
      <button class="btn btn-xs" style="background-color: #0077B5;">
                        <span class="fa fa-linkedin " style="min-width: 1em"></span>
                    </button></a>
  </div>